[Unit]
Description=Mount the SeaweedFS drive
Requires=home-ubuntu-seaweedfs.mount
After=home-ubuntu-seaweedfs.mount

[Mount]
What=/dev/sda1
Where=/home/ubuntu/seaweedfs
Type=ext4
Options=defaults

[Install]
WantedBy=multi-user.target
