[Unit]
Description=SeaweedFS with Filer

[Service]
ExecStart=/usr/sbin/weed server -dir=/home/ubuntu/seaweedfs -filer -s3
Restart=true
User=ubuntu
Group=ubuntu

[Install]
WantedBy=multi-user.target