[Unit]
Description=SeaweedFS with Filer
Requires=home-ubuntu-seaweedfs.mount
After=home-ubuntu-seaweedfs.mount

[Service]
ExecStart=/usr/sbin/weed server -dir=/home/ubuntu/seaweedfs -filer
Restart=true
User=ubuntu
Group=ubuntu

[Install]
WantedBy=multi-user.target