[Unit]
Description=Mount the SeaweedFS drive

[Mount]
What=/dev/sda1
Where=/home/ubuntu/seaweedfs
Type=ext4
Options=defaults

[Install]
WantedBy=multi-user.target
RequiredBy=seaweedfs.service